<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty Circlee</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
</head>
<body>
  <script type="text/x-handlebars">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <ul class="nav" id="side-menu">
        <li class="naveheader">
          {{#link-to 'index'}}
            <h1 class='font-bold'>Beauty Circlee</h1>
            <h2 class='font-bold'>BC</h2>
            <span class="text-xs text-muted">Express your beauty passion!</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'about'}}
            <i class='fa fa-th-large'></i>
            <span class="nav-label"><big>About</big></span>
          {{/link-to}}  
        </li>
        <li>
          {{#link-to 'team'}}
            <i class='fa fa-child'></i>
            <span class="nav-label"><big>Team</big></span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'mailinglist'}}
            <i class='fa fa-envelope'></i>
            <span class="nav-label"><big>Subscribe</big></span>
          {{/link-to}}
        </li>
      </ul>
    </nav>

    <div class="page-wrapper sidebar-content">
      <div class="row" style="padding-top:15px;">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="mailinglist">
    <br/>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-6 col-xs-12">
       {{!-- Begin MailChimp Signup Form --}}
        <div id="mc_embed_signup">
        <form action="http://beautycirclee.us9.list-manage.com/subscribe/post?u=eea4dd4a46d5a86b092e7938f&amp;id=3affada32f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-NAME">Name </label>
          <input type="text" value="" name="NAME" class="" id="mce-NAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-MMERGE3">Twitter </label>
          <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
        </div>
        <div class="mc-field-group">
          <label for="mce-MMERGE4">Instagram </label>
          <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_eea4dd4a46d5a86b092e7938f_3affada32f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        {{!-- End mc_embed_signup --}} 
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="about">
    <br/>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-6 col-xs-12" role="main">
        <h2>Who We Are?</h2>
        <br/>
        <p>
          Beauty Circlee is a place where beauty lovers share their passion. Our mission is to help people find and share the beauty products that they love.
        </p>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="team">
    <br />
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-5">
          <div class="contact-box"><a href="">
              <div class="col-sm-4">
                <div class="text-center">
                  <img src="image/cosmetics2.jpg" alt="" class="img-circle m-t-xs img-responsive">
                  <div class="m-t-xs font-bold"></div>
                </div>
              </div>
              <div class="col-sm-8"></div>
              <div class="clearfix"></div>
            </a></div>
        </div>
        <div class="col-lg-5">
          <div class="contact-box"><a href="">
              <div class="col-sm-4">
                <div class="text-center">
                  <img src="image/cosmetics2.jpg" alt="" class="img-circle m-t-xs img-responsive">
                  <div class="m-t-xs font-bold"></div>
                </div>
              </div>
              <div class="col-sm-8"></div>
              <div class="clearfix"></div>
            </a></div>
        </div>
        <div class="col-lg-offset-2 col-lg-5">
          <div class="contact-box"><a href="">
              <div class="col-sm-4">
                <div class="text-center">
                  <img src="" alt="" class="img-circle m-t-xs img-responsive">
                  <div class="m-t-xs font-bold"></div>
                </div>
              </div>
              <div class="col-sm-8"></div>
              <div class="clearfix"></div>
            </a></div>
        </div>
        <div class="col-lg-5">
          <div class="contact-box"><a href="">
              <div class="col-sm-4">
                <div class="text-center">
                  <img src="" alt="" class="img-circle m-t-xs img-responsive">
                  <div class="m-t-xs font-bold"></div>
                </div>
              </div>
              <div class="col-sm-8"></div>
              <div class="clearfix"></div>
            </a></div>
        </div>
      </div>
</div>
  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/bootstrap.js"></script>
  <script src="js/libs/jquery.backstretch.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <script src="js/libs/jquery.metisMenu.js"></script>
  <script src="js/app.js"></script>
  <script src="js/load.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
  <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
</body>
</html>
